﻿/*.rw-wrapper-2 {
    width: 80%;
    position: relative;
    margin: 110px auto 0 auto;
    font-family: 'Bree Serif';
    padding: 10px;
    height: 400px;
    overflow: hidden;
}

.rw-sentence-2 {
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

    .rw-sentence-2 span {
        color: #444;
        white-space: nowrap;
        font-size: 200%;
        font-weight: normal;
    }

.rw-words-2 {
    display: inline;
    text-indent: 10px;
}

.rw-words-1-2 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #888;
    -webkit-transform-origin: 10% 75%;
    transform-origin: 10% 75%;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}

.rw-words-2 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: #6b889d;
}

.rw-words-2 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: #6b739d;
}

.rw-words-2 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: #7a6b9d;
}

.rw-words-2 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #8d6b9d;
}

.rw-words-2 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: #9b6b9d;
}

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    17% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }

    19% {
        opacity: 1;
        -webkit-transform: rotate(98deg);
    }

    21% {
        opacity: 1;
        -webkit-transform: rotate(86deg);
    }

    23% {
        opacity: 1;
        -webkit-transform: translateY(85px) rotate(83deg);
    }

    25% {
        opacity: 0;
        -webkit-transform: translateY(170px) rotate(80deg);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    17% {
        opacity: 1;
        -ms-transform: rotate(0deg);
    }

    19% {
        opacity: 1;
        -ms-transform: rotate(98deg);
    }

    21% {
        opacity: 1;
        -ms-transform: rotate(86deg);
    }

    23% {
        opacity: 1;
        -ms-transform: translateY(85px) rotate(83deg);
    }

    25% {
        opacity: 0;
        -ms-transform: translateY(170px) rotate(80deg);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    17% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    19% {
        opacity: 1;
        -webkit-transform: rotate(98deg);
        transform: rotate(98deg);
    }

    21% {
        opacity: 1;
        -webkit-transform: rotate(86deg);
        transform: rotate(86deg);
    }

    23% {
        opacity: 1;
        -webkit-transform: translateY(85px) rotate(83deg);
        transform: translateY(85px) rotate(83deg);
    }

    25% {
        opacity: 0;
        -webkit-transform: translateY(170px) rotate(80deg);
        transform: translateY(170px) rotate(80deg);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .rw-sentence-2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .rw-sentence-2 {
        font-size: 9px;
    }
}*/


.rw-wrapper-2 {
    width: 80%;
    position: relative;
    margin: 110px auto 0 auto;
    font-family: 'Bree Serif';
    padding: 10px;
}

.rw-sentence-2 {
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

    .rw-sentence-2 span {
        color: #444;
        white-space: nowrap;
        font-size: 200%;
        font-weight: normal;
    }

.rw-words-2 {
    display: inline;
    text-indent: 10px;
}

    .rw-words-2 span {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        width: 100%;
        color: #6b969d;
    }

.rw-words-1-2 span {
    -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
    -ms-animation: rotateWordsFirst 18s linear infinite 0s;
    animation: rotateWordsFirst 18s linear infinite 0s;
}

.rw-words-2-2 span {
    -webkit-animation: rotateWordsSecond 18s linear infinite 0s;
    -ms-animation: rotateWordsSecond 18s linear infinite 0s;
    animation: rotateWordsSecond 18s linear infinite 0s;
}

.rw-words-2 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: #6b889d;
}

.rw-words-2 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: #6b739d;
}

.rw-words-2 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: #7a6b9d;
}

.rw-words-2 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #8d6b9d;
}

.rw-words-2 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: #9b6b9d;
}

@-webkit-keyframes rotateWordsFirst {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: ease-in;
        height: 0px;
    }

    8% {
        opacity: 1;
        height: 60px;
    }

    19% {
        opacity: 1;
        height: 60px;
    }

    25% {
        opacity: 0;
        height: 60px;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWordsFirst {
    0% {
        opacity: 1;
        -ms-animation-timing-function: ease-in;
        height: 0px;
    }

    8% {
        opacity: 1;
        height: 60px;
    }

    19% {
        opacity: 1;
        height: 60px;
    }

    25% {
        opacity: 0;
        height: 60px;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateWordsFirst {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        height: 0px;
    }

    8% {
        opacity: 1;
        height: 60px;
    }

    19% {
        opacity: 1;
        height: 60px;
    }

    25% {
        opacity: 0;
        height: 60px;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes rotateWordsSecond {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: ease-in;
        width: 0px;
    }

    10% {
        opacity: 0.3;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 100%;
    }

    27% {
        opacity: 0;
        width: 100%;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWordsSecond {
    0% {
        opacity: 1;
        -ms-animation-timing-function: ease-in;
        width: 0px;
    }

    10% {
        opacity: 0.3;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 100%;
    }

    27% {
        opacity: 0;
        width: 100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateWordsSecond {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        width: 0px;
    }

    10% {
        opacity: 0.3;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 100%;
    }

    27% {
        opacity: 0;
        width: 100%;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .rw-sentence-2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .rw-sentence-2 {
        font-size: 9px;
    }
}