﻿@{
    ViewBag.Title = "About";
}

<div class="sidemenu">

    @{
        Html.RenderPartial("_RecentPosts");
    }
    @{
        Html.RenderPartial("_Archives");
    }

</div>

<div class="content-home">
   
    <div class="text-position">
        <h2>About US</h2>
        <h3>
            Our team of mentors aim to use workshops and peer-based conversation to provide young people & adults with a space to explore how
            Communication, Collaboration & Creativity can be applied in developing and enhancing relationships and the wider community.
        </h3>
    </div>

</div>
