﻿@{
    ViewBag.Title = "Contact";
}

<div class="sidemenu">

    @{
        Html.RenderPartial("_RecentPosts");
    }
    @{
        Html.RenderPartial("_Archives");
    }

</div>

<div class="content-home">
    <div class="text-position">
        <h3><b><u>For a consultation contact</u></b></h3>
        <h4>
            <br /><u>Mark Mc Cormack</u>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>Mobile:</b> 087 1194839
            <br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>Email:</b>&emsp;mark@createthegreatinyou.com 
            <br /><br/>
            <br /><u>Alan Forde (Community Development Officer)</u>&emsp;<b>Mobile:</b> 085 1592673
            <br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>Email:</b>&emsp;alan@createthegreatinyou.com
        </h4>
        <br/><br/><br/>
        <h3><b><u>Or contact our landline:</u></b>&emsp;041 6857819</h3>

        <br/><br /><br /><br />

        <a target="_blank" title="Find us on Facebook" href="https://www.facebook.com/Create-the-Great-in-You-1562485917408698/">
        <img alt="Follow us on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
    </div>
</div>