﻿<div class="panel panel-primary widget">
    <div class="panel-heading">
        <h3>Archives</h3>
    </div>
    <div class="widget-display">
        <ul>
            <li><a href="#">April 2017</a></li>
            <li><a href="#">November 2016</a></li>
            <li><a href="#">July 2016</a></li>
        </ul>
    </div>
</div>
