﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Create The Great In You</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <img src="../Images/bannernew.gif" />
        </div>

        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">C-Change<span class="arrow">&#9660;</span></a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Programs", "Programs", "Programs")</li>
                            <li>@Html.ActionLink("TransitionYear", "TransitionYear", "TransitionYear")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Events", "Events", "Events")</li>
                    <li>@Html.ActionLink("Library", "Library", "Library")</li>
                    <li>@Html.ActionLink("Poetry", "Poetry", "Poetry")</li>
                    <li>@Html.ActionLink("Stories", "Stories", "Stories")</li>
                    <li>
                        <a href="#">3MI<span class="arrow">&#9660;</span></a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Men", "Men", "Men")</li>
                            <li>@Html.ActionLink("Testimonials", "Testimonials", "Testimonials")</li>
                        </ul>
                    </li>
                    
                    
                 </ul>
            </div>
        </div>
        
    </div>

    <div class="sidebar">
       
    </div>
    <div class="container body-content">

            <section class="content-wrapper main-content clear-fix">
        
        @RenderBody()
        </section>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
