﻿<div class="panel panel-primary widget">
    <div class="panel-heading">
        <h3>Recent Posts</h3>
    </div>
    <div class="widget-display">
        <ul>
            <li><a href="#">Workshop 3rd April 2017</a></li>
            <li><a href="#">European Sociological Association (ESA) Sociology of Education Mid-term Conference</a></li>
        </ul>
    </div>
</div>
