﻿@{
    Layout = null;
}

<div id="votingWidget" class="panel panel-primary widget">
    <div class="panel-heading">
        <h3>Archives</h3>
    </div>
    <div class="widget-display">
        @using (Html.BeginForm("Archives", "Home"))
        {
            <table class="table table-fluid table-striped">
                <thead>
                    <ul>
                        <li><a href="#">April 2017</a></li>
                        <li><a href="#">November 2016</a></li>
                        <li><a href="#">July 2016</a></li>
                    </ul>
                </thead>
                <tbody></tbody>
            </table>
        }
    </div>
</div>
