﻿@{
    Layout = null;
}

<div id="votingWidget" class="panel panel-primary widget">
    <div class="panel-heading">
        <h3>Recent Posts</h3>
    </div>
    <div class="widget-display">
        @using (Html.BeginForm("RecentPosts", "Home"))
        {
            <table class="table table-fluid table-striped">
                <thead>
                   
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">Workshop 3rd April 2017</a></td>
                        <td><a href="#">European Sociological Association (ESA) Sociology of Education Mid-term Conference</a></td>
                        <td><a href="#">How should man live?</a></td>
                        <td><a href="#">Men and Masculinity in Modern Ireland</a></td>
                        <td><a href="#">The walk of Cú Chulainn and Ferdia</a></td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>