﻿
@{
    ViewBag.Title = "Men";
}



<div class="content-home">

    <div class="col-md-4">
        <h2>The walk of Cú Chulainn and Ferdia</h2>
        <p>
            From boyhood to manhood: This walk will take place on September 19th 2015,  At 12pm ( Location to follow) bring along your sons and daughters.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Read More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>3MI Ireland</h2>
        <p>Ten week course on Men and Masculinity, commences on 6th October 2015. The course will run on Tuesday evenings from 7pm to 9pm in the Life Long Learning Centre DKIT Dundalk Co. Louth.   http://www.learn.ie/men-and-masculinity-modern-ireland    </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How should man live?</h2>
        <p>A Poem By john Hayden A man should live free from oppression Without time for boredom, fear or depression In his youth he should strive in mind and physique Trying out different things, because he should know where he is weak   He should be mentored by many masters to draw out his strength He […]</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Read More &raquo;</a></p>
    </div>

</div>
