﻿
@{
    ViewBag.Title = "Programs";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="sidemenu">

    @{
        Html.RenderPartial("_RecentPosts");
    }
    @{
        Html.RenderPartial("_Archives");
    }

</div>

<div class="content-home">
    <div class="programInfo">
        <h4>Synopsis</h4>
        <p>
            This six week pilot programme intends to give students the opportunity to work with mentors from various backgrounds,
            with a wide range of expertise in their field, in order to enable the students to reach their own potential.
        </p>
    </div>
    <div class="accordion">
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-1">Week 1</a>
            <div id="accordion-1" class="accordion-section-content">
                <p><strong>Aim: </strong>to establish a relationship between the facilitators and the group.<br /><br />

                One hour introductory session<br /><br />

                <strong>Checking in</strong> - Mark’s Story<br /><br />

                <strong>Mutual Contract Agreement:</strong><br />

                This first step will involve a mutual contract agreement between ourselves and the students.
                It will detail our expectations of the students and their expectations of us as mentors.
                Also Mark will introduce the team and show a clip of Shane Cunningham, who will feature in next week’s session.<br /><br />

                The second step will involve Mark talking about his background and where his idea originated from, the people involved and its overall aim.<br /><br />

                <strong>First Activity</strong><br />

                <strong>The Story of Everybody, Somebody, Anybody and Nobody</strong><br />

                The students are divided up into four teams. Envelopes will be handed out to the young people and inside each envelope a word either Everybody, Somebody, Anybody and Nobody will be written on a piece.
                The young people will be divided into groups under the above headings.
                The facilitator will show a clip from Ted Ex highlighting the
                importance of communication, creativity in education.<br /><br />

                <strong>Objective: </strong>of the exercise to is to encourage young people to explore the labels that can be put on by society or their peers.<br />

                <strong>Checking in: </strong> Student’s stories<br />

                The students, who will all have name badges, introduce themselves and if they want, tell us about their interests/hobbies and passions.<br /><br />

                <strong>Second Activity</strong><br />

                <strong>Encouragement Game</strong><br />

                This game works best for groups that know each other reasonably well.<br />

                Sit in a circle and give everyone a piece of paper and pen.<br />
                Each person should write their name at the top of the piece of paper, then pass it to the person on their left.<br />
                Each person then writes one or two (or more) positive characteristics about the person whose name is at the top of the paper.<br /><br />

                After 30-60 seconds, everyone passes the pieces of paper around to their left again.<br />
                This continues until everyone has written on everyone else's paper<br /><br />

                <strong>Actions: </strong>Each group will be given a topic to carry out a piece of work under the headings Communication, Collaboration, Creativity and
                Mentoring.<br /><br />

                <strong>Checking Out</strong><br /><br />

                Mark, his team and the students discuss the session and how it went, identifying what went well, what could have been better and any
                suggestions regarding the next few weeks.<br /><br />

                <strong>Facilitator: </strong>Mark Mc Cormack, Alison Lennon.</p>
            </div><!--end .accordion-section-content-->
        </div><!--end .accordion-section-->

        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-2">Week 2</a>
            <div id="accordion-2" class="accordion-section-content">
                <p>
                <strong>Aim: </strong>is to remove the students from their comfort zone and experience communication in an informal setting such as outdoor activities whilst
                using the skills of an archaeologist to communicate our heritage and the resources available within a community.<br /><br />

                <strong>A Tour of Medieval Carlingford.</strong><br /><br />

                The tour will be led by Dr Alison Lennon, who specializes in the archaeology of medieval Louth and has worked extensively with secondary
                children, providing workshops on heritage, history and archaeology.<br /><br />

                The students will travel by bus and be accompanied by Mark & Alison.<br />
                The idea behind the trip is to provide the students with an opportunity to share in their local heritage, while also getting some fresh air.
                It will also enable them to relax outside the school environment and to get to know and therefore trust the leaders of the group.<br /><br />

                <strong>(Students will require a packed lunch)</strong><br />

                <strong>Facilitator: </strong>Mark Mc Cormack, Alison Lennon (Bus Trip).

                Materials: Lunch</p>
            </div><!--end .accordion-section-content-->
        </div><!--end .accordion-section-->

        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-3">Week 3</a>
            <div id="accordion-3" class="accordion-section-content">
                <p>
                    <strong>Aim: </strong>is to facilitate communication through the medium of comedy and explore mentoring.<br /><br />

                    This week is based on communication styles and an introduction to mentoring.<br />
                    The session is lead by Mark Mc Cormack in collaboration with Shane Cunningham, a comedian from Galway, who will share his story with the young people.<br /><br />

                    Shane will demonstrate the art of communication through a comedy workshop. The workshop will involve some light- hearted entertainment
                    and impression of various celebrities from the world of entertainment and sport.<br /><br />

                    The session will also incorporate a ‘circle of trust’ where Mark and Shane will tease out a discussion about what it is to be a young person in today’s Ireland:
                    how young people communicate and ask questions.<br /><br />

                    The young people will watch a clip from youtube in relation to Violence. The young people will then be asked to explore their thoughts on the
                    topic.<br /><br />

                    <strong>Facilitator: </strong>Mark Mc Cormack, Shane Cunningham</p>

            </div><!--end .accordion-section-content-->
        </div><!--end .accordion-section-->
    </div><!--end .accordion-->
</div>

